 Python Learning 
 ==============
 ###### Basic Types
 ###### Python is *weekly type* programing language
 ###### While runing the code - it will detect the type of variable

![Python Learning](Python Types.png)

In [0]:
# Below example is detect the value as int on executions
i = 100
print(i)
print(type(i))
type(i)

100
<class 'int'>

int

In [0]:
# Below example is detect the value as String on executions
string = "100"
print(string)
print(type(string))
type(string)

100
<class 'str'>

str

In [0]:
# Below example is detect the value as float on executions
floatingNumber = 100.00
print(floatingNumber)
print(type(floatingNumber))
type(floatingNumber)

100.0
<class 'float'>

float

In [0]:
#List of
l = range(1,100)
print(type(l))
l

<class 'range'>

range(1, 100)

In [0]:
#For Looping 
# Indentations is the scope of a given segment (i.e in Java {} will define the segment of give code)
res = 0
for i in l:
    res += i
print(res)

4950

In [0]:
#Looping in Python and adding only even numbers
# additions mod logic check only the even numbers in 
res = 0
for i in l:
    # % returns the remainder
    if (i%2 == 0):
        res += i
print("Result [", res, "]")

Result [ 2450 ]

In [0]:
# While Loop

res = 0
i=1
while( i <= 100): 
    res += i
    i +=1
print(res)

5050

In [0]:
# Multiple Line executions in single line of command - Not working 
#res = 0
#for i in l : if (i%2 == 0) : res += i ;
#print("Result [", res, "]")

In [0]:
# Functions in Python 
# Adding the numbers to compute the sum of give range

def sum(lb, ub):
    total = 0 
    while (lb <= ub):
        total += lb
        lb += 1
    return total

sum(1,10)

55

In [0]:
# Callable functions as argument
# Method will call another fuction to compute the value such as squre of a number, cube of number, and etc

def compute( func, lb, ub):
    total = 0
    while ( lb <= ub):
        total += func(lb)
        lb+=1
    return total

def fun(i):
    return i

def sqr(i):
    return i * i

def cube(i):
    return i * i * i

print("Simple Fucntion" , compute(fun, 1, 10))
print( "Sqr fucntion",  compute(sqr, 1, 10))
print( "Cube fucntion",  compute(cube, 1, 10))

Simple Fucntion 55
Sqr fucntion 385
Cube fucntion 3025

In [0]:
# callable functions as argument
# Method will call another fuction to compute the value such as squre of a number, cube of number, and etc
# Replacing with lambda fucntions

## Lamda fucntions is comes with limitations
def compute( func, lb, ub):
    total = 0
    while ( lb <= ub):
        total += func(lb)
        lb+=1
    return total

print("Simple Fucntion" , compute(lambda i: i, 1, 10))
print("Sqr fucntion", compute(lambda i: i*i, 1, 10))
print("Cube fucntion", compute(lambda i: i*i*i, 1, 10))

Simple Fucntion 55
Sqr fucntion 385
Cube fucntion 3025

### Collections

### List Collections basics

In [0]:
#List - allows deplicate values

listColl = [11,1,3,2,4,6]
print(listColl)
print(type(listColl))

# Printing single index value
print("first element-", listColl[0])

# Printing last element of the index 
print("first element-", listColl[-1])

#Return from 3 index to end
print("3 to end-", listColl[3:])

#Return from first index to 3 index (upper boundry)
print("first to 3-", listColl[:3])

#Return from Reverse if give index
print("Reverse the list-", listColl[::-1])

#Return alternative values from list
print("Alternative the list-", listColl[::2])

#Return filter the elements from first to third and select last index element
print("Filter from firts to third and last element", listColl[:3][-1])

#Return filter the elements from first to third and print reverse order
print("Filter from firts to third and reverse order", listColl[:3][::-1])

[11, 1, 3, 2, 4, 6]
<class 'list'>
first element- 11
first element- 6
3 to end- [2, 4, 6]
first to 3- [11, 1, 3]
Reverse the list- [6, 4, 2, 3, 1, 11]
Alternative the list- [11, 3, 4]
Filter from firts to third and last element 3
Filter from firts to third and reverse order [3, 1, 11]

### List Collections with another list Operations

In [0]:
#listColl.sort
#Comparing multiple list operations
listColl = [11,1,3,2,4,6]
newList = [11,1,3,2,4,6]
print("comparing new list is greater than give list - ", newList > listColl)
print("comparing new list is lesser than give list - ", newList < listColl)
print("comparing new list is less than and equals give list - ", newList <= listColl)

#remove element from an array
newList = [11,1,3,2,4,6]
newList.pop(3)
print(newList) # 2 value is removed from the give list
newList.append(100)
print(newList) # added new value at the last

# Adding new collctions and removing operations 
firstList = [100, 99, 98, 97]
secondList = [1, 2, 3, 4]

print(firstList+secondList)

comparing new list is greater than give list -  False
comparing new list is lesser than give list -  False
comparing new list is less than and equals give list -  True
[11, 1, 3, 4, 6]
[11, 1, 3, 4, 6, 100]
[100, 99, 98, 97, 1, 2, 3, 4]

### Set Collections

In [0]:
listColl = [11,1,3,2,4,6]
#converting List to distict set and also its sorted 
setColl = set(listColl)
print("set values", setColl)
print("internal type", type(setColl))
# To get all the methods are permitted
#help(set)

newSet = {4,6, 10}
print("new set values", newSet)
print("internal type", type(newSet))
print("comparing new set is greater than give set - ", newSet > setColl)
print("comparing new set is lesser than give set - ", newSet < setColl)
print("comparing new set is less than and equals give set - ", newSet <= setColl)

print("Inter Sections ", setColl.intersection(newSet))

print("Union ", setColl.union(newSet))

print("Difference in two set", setColl.difference(newSet))

set values {1, 2, 3, 4, 6, 11}
internal type <class 'set'>
new set values {10, 4, 6}
internal type <class 'set'>
comparing new set is greater than give set -  False
comparing new set is lesser than give set -  False
comparing new set is less than and equals give set -  False
Inter Sections  {4, 6}
Union  {1, 2, 3, 4, 6, 10, 11}
Difference in two set {11, 1, 2, 3}

## Dictionaries

In [0]:
# Dictionary using index similer to Java HashMap
dictColl = {1: "kamesh", 2: "c"}
print(type(dictColl))
print("first keys value", dictColl[1])
print(dictColl.keys())
dictColl = {"firstname": "kamesh", "lastname": "c"}
print(type(dictColl))
print("first keys value by string",dictColl["firstname"])

#Key should be unique - if there multiple values is available with same key
# Last key will be replaced with
dictColl = {"firstname": "kamesh", "lastname": "c", "lastname": "chandran"}
print(type(dictColl))
print(dictColl.keys())
print("first keys value by string",dictColl["lastname"])

<class 'dict'>
first keys value kamesh
dict_keys([1, 2])
<class 'dict'>
first keys value by string kamesh
<class 'dict'>
dict_keys(['firstname', 'lastname'])
first keys value by string chandran

In [0]:
dictColl = {"firstname": "kamesh", "lastname": "c", "lastname": "chandran"}
#Available key
print( "firstname Key is available", "firstname" in dictColl)
#Not available key
print( "companyname Key is available","companyname" in dictColl)

firstname Key is available True
companyname Key is available False

In [0]:
from functools import reduce
# Map Reduce options
total=0
l = range(1,100)
for i in l:
  if (i%2 == 0):
    total += i * i
print("with out map, filter and reduce", total)

f= filter(lambda i: i%2==0, l)
m= map(lambda i: i*i, f)
r= reduce(lambda total, element: total + element, m)

print ("with lamda fucntions", r)

#functools.reduce(lambda x, y: x+y, range(1,101))

with out map, filter and reduce 161700
with lamda fucntions 161700

In [0]:
from functools import reduce
#Reading a file from directive

orderItemsFile = open("/content/part-00000.txt", "r")
# Reading the file 
orderItemsRead= orderItemsFile.read()
# Spliting the lines and makeing it as array
orderItems = orderItemsRead.splitlines()
# Filtering the data which is having 2nd column is == 68880
orderItemsFilter = filter(lambda rec: int(rec.split(",")[1]) ==68880, orderItems)
print(orderItemsFilter)
# Map the 5 column value 
orderItemsMap = map(lambda rec: float(rec.split(",")[4]), orderItemsFilter)
print(orderItemsMap)
# Accumalate the mappend column for evaluations
orderItemsReduce = reduce(lambda total, element: total + element, orderItemsMap)

print(orderItemsReduce)

<filter object at 0x7fb2a0ab30f0>
<map object at 0x7fb2a0ab1898>
999.77